@model EvalEngine.UI.Models.ChangePasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
    this.ViewBag.ShowBreadCrumbs = false;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="login">
    	<div class="login-form" style="height:230px">
        	<h1>Reset Password</h1>
                 @if (TempData["message"] != null && (TempData["message"].ToString().EndsWith("|SUCCESS")))
                {
                    <div class="box confirmation"><img src="@Url.Content("~/Content/inc/img/icon_check.png")" alt="Success icon" width="15" height="11" />&nbsp;@TempData["message"].ToString().Substring(0, TempData["message"].ToString().LastIndexOf("|SUCCESS"))</div>
                }
                else if (TempData["message"] != null && (TempData["message"].ToString().EndsWith("|FAILURE")))
                {
                    <div class="box error"><img src="@Url.Content("~/Content/inc/img/icon_error.png")" alt="Failure icon" width="15" height="11" />&nbsp;@TempData["message"].ToString().Substring(0, TempData["message"].ToString().LastIndexOf("|FAILURE"))</div>
                }
                else if (TempData["message"] != null)
                {
                 <div class="box confirmation"><img src="@Url.Content("~/Content/inc/img/icon_check.png")" alt="Success icon" width="15" height="11" />&nbsp;@TempData["message"]</div>   
                }
            <span class="validation">@this.Html.ValidationMessageFor(m => m.Password)</span>
            <span class="label">New Password:</span>
           @this.Html.PasswordFor(m => m.Password)
            <span class="label">Confirm Password:</span>
            @this.Html.PasswordFor(m => m.ConfirmPassword)
            <span class="validation">@this.Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
            <span class="label">
            	<span class="float"><input type="submit" value="Reset Password" class="action_button" /></span>
            </span>
        </div><!--end login form-->
        <div style="padding:60px;padding-bottom:40px;">
        	<div>   <h1 style="padding-left:10px;">Password Requirements</h1>
                   <ul style="background:#6d808e;color:white;padding:15px;margin:10px;padding-left:30px;">
                    <li>Minimum of 12 characters</li>
                    <li>Contains at least one of each:</li>
                        <ul style="padding-left:30px;">
                        <li>Upper case letter</li>
                        <li>Lowercase letter</li>
                        <li>Number</li>
                        <li>Special character</li>
                        </ul>
                    <li>Cannot reuse one of your last 24 passwords</li>
                </ul>
            </div>
        </div>
    </div><!--end login-->     
}
