@model EvalEngine.UI.Models.ChangePasswordModel
           
@using (Html.BeginForm("ChangePasswordPartial", "Account"))
{
    if (this.Html.ViewData.ModelState.ContainsKey("changePasswordError"))
    { 
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    }
    @Html.AntiForgeryToken()
                            <table>
                                     @if (TempData["pwd_message"] != null && (TempData["pwd_message"].ToString().EndsWith("|SUCCESS")))
                                    {
                                        <tr><td colspan="2"><div class="box confirmation"><img src="@Url.Content("~/Content/inc/img/icon_check.png")" alt="Success icon" width="15" height="11" />&nbsp;
                                            @TempData["pwd_message"].ToString().Substring(0, TempData["pwd_message"].ToString().LastIndexOf("|SUCCESS"))
                                       </div></td></tr>  
                                    }
                                     else if (TempData["pwd_message"] != null && (TempData["pwd_message"].ToString().EndsWith("|FAILURE")))
                                     {
                                       <tr><td colspan="2"><div class="box error"><img src="@Url.Content("~/Content/inc/img/icon_error.png")" alt="Failure icon" width="15" height="11" />&nbsp;
                                            @TempData["pwd_message"].ToString().Substring(0, TempData["pwd_message"].ToString().LastIndexOf("|FAILURE"))
                                       </div></td></tr>                                     }
                                     else if (TempData["pwd_message"] != null)
                                     {
                                        <tr><td colspan="2"><div class="box confirmation"><img src="@Url.Content("~/Content/inc/img/icon_check.png")" alt="Success icon" width="15" height="11" />&nbsp;
                                            @TempData["pwd_message"]
                                       </div></td></tr>                                             
                                     } 
                            	<tr>
                                	<td><span class="float"><a id="pwdreq" href="@Url.Action("PasswordRequirements", "Account", new RouteValueDictionary())">View password requirements</a></span>Change Password:</td>
                                </tr>
                                <tr>
                                	<td>
                                    	<div class="box">
                                        	<table>
                                                <tr>
                                                    <td scope="row" width="50%">Enter current password:</td>
                                                    <td width="50%">@this.Html.PasswordFor(m => m.OldPassword)</td>
                                                </tr>
                                                <tr>
                                	                <td colspan="2" class="validation">&nbsp;@this.Html.ValidationMessageFor(m => m.OldPassword)</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">Enter new password:</td>
                                                    <td>@this.Html.PasswordFor(m => m.Password)</td>
                                                </tr>
                                                <tr>
                                	                <td colspan="2" class="validation">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">Re-enter new password:</td>
                                                    <td>@this.Html.PasswordFor(m => m.ConfirmPassword)</td>
                                                </tr>
                                                <tr>
                                	                <td colspan="2" class="validation">&nbsp;@this.Html.ValidationMessageFor(m => m.Password)</td>
                                                </tr>
                                            </table>
                                   		</div><!--end box-->
                                    </td>
                                </tr>
                                <tr>
                                	<td class="right"><input type="submit" value="Change Password" class="action_button" /></td>
                                </tr>
                                <tr>
                                	<td class="validation">@this.Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                                </tr>
                            </table>
}
